<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <events>
      <event name="item:created">
        <handler type="ServiceMaster.SVMBrands.Foundation.Workflows.EventHandlers.ItemWorkflowEventHandler, ServiceMaster.SVMBrands.Foundation.Workflows" method="OnItemCreated">
          <Workflow>{B6AA37DA-33ED-45AA-A120-94DD3BB3C7A5}</Workflow>
          <IncludePaths hint="list:IncludePath">
            <Path>/sitecore/content/SVMBrands/FurnitureMedic/Home</Path>
          </IncludePaths>
          <ExcludePaths hint="list:ExcludePath">
            <Path>/sitecore/content/SVMBrands/FurnitureMedic/Data</Path>
          </ExcludePaths>
          <IncludedSites hint="raw:IncludeSite">
            <site name="furnituremedic" workflow="{B6AA37DA-33ED-45AA-A120-94DD3BB3C7A5}"></site>
          </IncludedSites>
          <IncludeTemplates hint="list:IncludeTemplate">
            <TemplateId>{205A196E-9D7C-4E23-ADB5-1A7A6E4C5024}</TemplateId>
          </IncludeTemplates>
        </handler>
      </event>
    </events>
  </sitecore>
</configuration>

